<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!--Start: Math - Add number servlet.-->
    <servlet>
        <!--Create name of yourself-->
        <servlet-name>Math-AddNumber</servlet-name>
        <!--Reference of class AddNumberServlet-->
        <servlet-class>web.example.com.servlet.math.AddNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Math-AddNumber</servlet-name>
        <!--Create name of URL(yourself) -->
        <url-pattern>/math/add-number</url-pattern>
    </servlet-mapping>
    <!--End: Math - Add number servlet.-->
    
    <!--Start: Math - Sub number servlet.-->
    <servlet>
        <servlet-name>Math-SubNumber</servlet-name>
        <servlet-class>web.example.com.servlet.math.SubNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Math-SubNumber</servlet-name>
        <url-pattern>/math/sub-number</url-pattern>
    </servlet-mapping>
    <!--End: Math - Sub number servlet.-->

    <!--Start: Math - Mul number servlet.-->
    <servlet>
        <servlet-name>Math-MulNumber</servlet-name>
        <servlet-class>web.example.com.servlet.math.MulNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Math-MulNumber</servlet-name>
        <url-pattern>/math/mul-number</url-pattern>
    </servlet-mapping>
    <!--End: Math - Mul number servlet.-->

    <!--Start: Math - Mul number servlet.-->
    <servlet>
        <servlet-name>Math-DivNumber</servlet-name>
        <servlet-class>web.example.com.servlet.math.DivNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Math-DivNumber</servlet-name>
        <url-pattern>/math/div-number</url-pattern>
    </servlet-mapping>
</web-app>